.page-header
  = link_to new_request_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Request
  %h1 Listing requests

= paginate requests

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Title
        %th Description
        %th Created at
        %th Offer number
        %th
        %th
        %th

    %tbody
      - requests.each do |request|
        %tr
          %td= link_to request.title, request
          %td= request.description
          %td= l request.created_at, format: :short
          %td= request.offers.count
          %td= link_to 'Add offer', new_request_offer_path(request)
          %td= link_to 'Edit', edit_request_path(request)
          %td= link_to 'Destroy', request, :data => { confirm: 'Are you sure?' }, :method => :delete

