.page-header
  = link_to requests_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_request_path(request_object), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show request

%dl.dl-horizontal
  %dt Title:
  %dd= request_object.title
  %dt Description:
  %dd= request_object.description
  %dt User:
  %dd= request_object.user.email

.page-header
  = link_to new_request_offer_path(request_object), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Offer
  %h1 Listing offers

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th User
        %th Message
        %th Created at
        %th

    %tbody
      - offers.each do |offer|
        %tr
          %td= offer.user.email
          %td= link_to offer.message, edit_offer_path(offer)
          %td= l offer.created_at, format: :short
          %td= link_to 'Destroy', offer, :data => { confirm: 'Are you sure?' }, :method => :delete